.stats-header:last-of-type {
    padding-top: 50px;
}

.stats-header h1{
    margin: 0;
}

.stats-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats-header h5{
    margin: 0;
    color: #1C2434;
    margin-bottom: 10px;
    width: fit-content;
    width: -moz-fit-content;

}

.stats-header h5:hover{
    text-decoration: underline;
    cursor: pointer;
}

