@import "font-importer.css";

body{
	text-align: center;
	display: flex;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.editor-wrapper{
    margin-bottom:100px;
}

.wrapper{
	width:100%;
	margin:0 auto;
}

.content-area{
    flex:1 0 auto;
	width:100%;
	position: relative;
	background:#F3F7F7;
	height: auto;
	display:flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
}

.shop-header{
    padding-top: 50px;
}

.title-area{
    font-family: bebas;
    font-size:40px;
}

.shop-manager{
    font-family: montserrat-regular;
    padding: 10px;
    height: 30px;
    width: 920px;
    display: flex;
    justify-content: space-between;

    border-top: 2px solid #d3d6d8;
    border-bottom: 2px solid #d3d6d8;
}

.shop-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:50%;
    flex-wrap: nowrap;
}

.shop-filter-sort{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}


.shop-filter p{
    margin: 1px;
    padding: 2px;
}


.shop-filter-layout form{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.shop-filter-layout input{
    width:80px;
    height:15px;
    font-size: 10px;
}


.shop-shelf{
    padding-top:1px;
    padding-left: 60px;
    padding-right: 60px;
}

.exercise-requirement{
    width:915px;
    height:fit-content;
    
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
    margin-top:30px;
    
	padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 5px;
}

.requirement{
    padding: 2px;
}

.exercise-author{
	font-family: open-sans-bold;
    font-weight: lighter;
}

.exercise-title{
    margin-top: 2px;
	margin-left: 2px;
    margin-bottom: 0px;
	font-family: montserrat-regular;
    font-weight: bolder;
    
	font-size: 20px;
    text-align: left;
}

.requirement-text {
    font-size: 1.2em;
    font-family: open-sans-light;
	text-align:left;
	margin: 5px;
}

.meta-info{
    width:100%;
    border-bottom: 2px solid #d3d6d8;
    
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}



.difficulty-wrapper{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.difficulty-bar{
    display:flex;
    align-items: center;
    margin-left:10px;
    width: 40px;
}

.difficulty{
    width : 25px;
    height: 10px;
    list-style: none;
    padding: 5px;
    float: left;
    
}

.difficulty-title{
    font-family: open-sans-light;
    font-size:16px;
}

.easy{
    background-color: #0F9347;
    border-radius: 16px 0px 0px 0px;
}

.medium{
    background-color: #FCC50E;
    /* opacity: 0; */
}

.hard{
    border-radius: 0px 0px 16px 0px;
    background-color: #BE2026;
    /* opacity: 0; */
}

@media (max-width:430px)
{
    .content-area{
        height:100vh;
    }

    .exercise-requirement{
        height:min-content;
    }
    
}