@import "font-importer.css";

body {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-area {
  flex: 1 0 auto;
  width: 100%;
  position: relative;
  background: #f3f7f7;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.shop-header {
  width: 100%;
  padding-top: 50px;
  font-family: bebas;
  font-size: 40px;
  user-select: none;
  color:#333;
}

.shop-manager {
  font-family: montserrat-regular;
  padding: 10px;
  height: fit-content;
  width: 940px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #d3d6d8;
  border-bottom: 1px solid #d3d6d8;
}

.search-image {
  width: 15px;
}

.search-box {
  background: #e8e9eb;
  height: 30px;
  border-radius: 30px;
  padding: 10px;
}

.search-box:hover > .search-input {
  width: 240px;
  /* padding: 0 6px; */
}

.search-box:hover > .search-button {
  background: white;
  color: #757c87;
}

.search-button {
  color: white;
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d3d8dd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-input {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgb(120, 119, 119);
  font-size: 16px;
  transition: 0.4s;
  line-height: 30px;
  width: 0px;
}

.shop-select {
  display: flex;
}

.shop-select:after {
  font: 15px "Consolas", monospace;
  color: rgb(103, 103, 103);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);

  position: absolute;
  pointer-events: none;
}

.shop-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  display: block;
  width: 100%;
  max-width: 220px;
  height: 25px;

  float: right;
  margin: 2px;
  padding: 0px 6px;
  font-size: 0.9em;
  line-height: 1.5;
  color: #333;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  -ms-word-break: normal;
  word-break: normal;

  text-align: center;
}

.shop-select label,
.shop-filter-layout label {
  padding: 6px;
  font-size: 0.9em;
}

.shop-filter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  width: 55%;
  height: 100%;
  flex-wrap: nowrap;
}

.shop-filter-layout form {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.shop-filter-layout img {
  width: 25px;
  font-size: 10px;
  border-style: solid;
  border-color: #c4c2c2;
  border-width: 1px;
  padding: 2px;
}

.exercise-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 50px;
}

.exercise-requirement {
  width: 940px;
  height: fit-content;
  height: -moz-fit-content;

  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  margin-top: 50px;

  display: flex;
}

.requirements {
  width: 100%;
  padding: 20px;
  padding-top:15px;
}

.exercise-author {
  font-family: open-sans-bold;
  font-weight: lighter;
  font-size: 1em;
}

.title-holder{
  display:flex;
  text-align: left;
  width:100%;
}

.exercise-title {
  display: flex;

  margin-left: 5px;
  font-family: montserrat-regular;
  font-weight: bolder;
  width:fit-content;
  width:-moz-fit-content;

  font-size: 1.25em;
  color: black;
  text-decoration: none;
}

.first-image{
  margin-left:15px;
  width:25px;
}

.exercise-content{
  width:100%;
  display:flex;
  justify-content: space-between;
}

.requirement-text {
  font-size: 0.9em;
  font-family: open-sans-light;
  text-align: left;
  margin:10px;
  width:70%;
}

.solve-button-div{
  width:200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exercise-statistics{
  display:none;
}

.exercise-button{
	height:40px;
	color: #ffffff;
	font-size:15px;
	font-family: open-sans-light;
	font-weight: 400;
	padding-left: 20px;
	padding-right: 20px;
	cursor: pointer;
	margin-left:30px;

  display:flex;
  align-items: center;
  justify-content: center;
  width:150px;
}

.exercise-button.to-solve{
  box-shadow: 0 4px 12px 0 rgba(27,169,76,.5);
	background-color: #1ba94c;
	border:1px solid #179342;
}

.exercise-button.to-buy{
  box-shadow: 0 4px 12px 0 rgba(245, 193, 23, 0.5);
	background-color: #FCC50E;
	border:1px solid #ffcf30;
}

.exercise-button.blocked{
  box-shadow: 0 4px 12px 0 rgba(190,32,38,.5);
	background-color: #BE2026;
	border:1px solid #a02327;
}

.exercise-button.solved{  
	background-color: #ffffff;
	border:1px solid #179342;
  color:#1ba94c;
}


.exercise-button.solved::after{
  margin-top:4px;
  content:url(../resources/checked.png)
}

.solve-button-link{
  text-decoration: none;
  font-size: 15px;
  font-family: open-sans-light;
}

.meta-info {
  width: 100%;
  border-bottom: 2px solid #d3d6d8;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.difficulty-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.difficulty-bar {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 40px;
}

.difficulty-title {
  font-family: open-sans-light;
  font-size: 1em;
}


@media screen and (max-width: 910px) {
  .search-box:hover > .search-input {
    width: 150px;
    padding: 0 6px;
  }

  .shop-filter {
    width: 65%;
  }
}

@media screen and (max-width: 800px) {
  .search-box:hover > .search-input {
    width: 130px;
    padding: 0 6px;
  }
  .shop-filter {
    width: 70%;
  }
  .shop-select label,
  .shop-filter-layout label {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 690px) {
  .shop-manager {
    flex-direction: column;
  }
  .shop-filter {
    width: 100%;
    /* flex-direction: column; */
  }

  .search-box {
    margin-bottom: 10px;
  }

  .shop-header {
    font-size: 2em;
  }
}

.exercise-requirement.compact .requirement-text{
  display: none;
}

.exercise-requirement.compact .meta-info{
  display:none
}

.exercise-requirement.compact:first-child{
  margin-top:50px;
}

.exercise-requirement.compact{
  margin: 0;
  border:1px solid rgba(0, 0, 0, 0.1);
}

.exercise-requirement.compact .exercise-content{
  justify-content: space-between;
}

.exercise-requirement.compact .exercise-statistics{
  display:flex;
}

.exercise-requirement.compact .exercise-statistics>p{
  padding-left:10px;
  /* margin:0; */
  font-family: open-sans-light;
  font-size: 0.75em;   
}

.exercise-requirement.compact .exercise-statistics>p:first-child{
  padding-right:10px;
  border-right: 1px solid gray;
}

.exercise-requirement.compact .exercise-statistics .easy{
  color:#179342;
}

.exercise-requirement.compact .exercise-statistics .medium{
  color:#FCC50E;
}

.exercise-requirement.compact .exercise-statistics .hard{
  color:#BE2026;
}