@font-face{
	font-family:bebas;
	src: url("../fonts/Bebas-Regular.otf");
}

@font-face{
	font-family:bignoodle;
	src :url("../fonts/big_noodle_titling.ttf")
}

@font-face{
	font-family:twoD;
	src : url("../fonts/PressStart2P-Regular.ttf")
}

@font-face{
	font-family:roboto;
	src : url("../fonts/Roboto-Regular.ttf")
}

:root{
	--white : #ffffff;
}

*{
	margin:0;
	padding:0;
}

body{
	text-align: center;
}
.wrapper{
	width:100%;
	margin:0 auto;
}


.banner-area{
	user-select: none; /* Standard */
	width:100%;
	height: 400px;
	position:fixed;
	/* background-color: #13274F; */
	background: linear-gradient(to right, #193167,  #13274F,  #0a1429); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	-webkit-background-size:cover;
	background-size: cover;
	background-position: center center;

	display: flex;
	align-items: center;
	justify-content: center;
	
}

#banner-title{
	display:inline-block;
}

.banner-area h2{
	float:left;
	font-size:3em;
	font-family: twoD;

	text-transform: uppercase;
	color: var(--white);
}

#sql-image{
	width:5em;
}

.content-area{
	width:100%;
	position: relative;
	margin-top: 0;
	background:#ddd;
	height:1000px;
	display:inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.footer-bar{
	align-self: flex-end;
	padding-bottom: 1%;
	padding-top: 1%;
	background-color: #262626;
	width: 100%;
}

.footer-bar h4,a{
	color:var(--white);
	font-size: 1.2em;
	font-family: bebas;
}

.footer-bar a{
	text-decoration: none;
}

.content-area h2{
	letter-spacing: 4px;
	padding-top: 1em;
	font-size: 1.5em;
	font-family: bignoodle;

	margin:0;;
}

#mainpage-sql-area{
	display: block;
	margin: 20px auto 20px auto;
	text-decoration: none;
	width: 30%;
	height: 80px;
	background-color: white;
	text-align:left;

}

#reservedKeyword{
	color: #a303a3
}

.content-area p{
	padding: 2% 0;
	line-height: 1.5em;
}

@media(max-width:800px)
{
	.banner-area h2{
		font-size:2em;
	}

	#sql-span{
		font-size: 1.6em;
	}

	.banner-area{
		height:400px;
	}

	.content-area{
		height:1000px;
	}

	#sql-image{
		width:3.3em;
	}

	.footer-bar h4,a{
		font-size: 0.9em;
	}

}

